@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code First</h1>
</div>
<p>@Html.ActionLink("Open Types", "Index", "ProductTypes")</p>
<p>@Html.ActionLink("Open Products", "Index", "Products")</p>

